{
    "printWidth": 80,          
    "tabWidth": 2,             
    "semi": true,       
    "quoteProps": "as-needed", 
    "bracketSpacing": true,    
    "arrowParens": "avoid",   
    "proseWrap": "preserve",  
    "endOfLine": "auto",      
    "overrides": [
      {
        "files": "*.json",
        "options": {
          "tabWidth": 2
        }
      }
    ]
  }